<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Cat Timer" Manufacturer="ZhiZhi" Version="1.0.7" UpgradeCode="68098c47-3866-4876-9214-49c71a351187" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="CatTimer" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="CatTimer" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="A1B2C3D4-E5F6-4A5B-8C7D-8E9F0A1B2C3D">
        <File Id="CatTimerEXE" Source="bin\Release\net6.0-windows\win-x64\standalone_compressed_v1.0.7\CatTimer_WpfProject.exe" KeyPath="yes" />
        <Shortcut Id="ApplicationStartMenuShortcut" Name="CatTimer" Description="Cute Cat Timer" Directory="ApplicationProgramsFolder" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" Advertise="yes" />
        <Shortcut Id="ApplicationDesktopShortcut" Name="CatTimer" Description="CatTimer" Directory="DesktopFolder" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" Advertise="yes" />
        <RemoveFolder Id="CleanupShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
      </Component>

      <!-- Include all files from the publish directory (Self-Contained Compressed) -->
      <Files Include="bin\Release\net6.0-windows\win-x64\standalone_compressed_v1.0.7\**">
        <!-- Exclude the exe because it's already defined in the MainExecutable component -->
        <Exclude Files="bin\Release\net6.0-windows\win-x64\standalone_compressed_v1.0.7\CatTimer_WpfProject.exe" />
      </Files>
    </ComponentGroup>

    <Feature Id="ProductFeature" Title="CatTimer" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="icon.ico" SourceFile="Asset\Icon\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
  </Package>
</Wix>